@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

#ou {
   font-family: "Righteous", sans-serif;
   text-align: center;
   margin-top: 50px;
   font-size: 2.5rem;
}


#error_upload {
   padding: 50px;
   line-height: 2.2rem;

   p {
      font-size: 1.5rem;
   }

   a {
      color: #30a8f8;
   }
}

.post_container {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 20px;
   font-family: "Rubik", sans-serif;
   margin-bottom: 20px;

   div {
      display: flex;
      align-items: center;
      justify-content: space-between;

      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      padding: 30px;
      gap: 20px;
      border-radius: 10px;
      margin-top: 20px;
      width: 750px;

   }

   input,
   textarea,
   button {
      width: 500px;
      padding: 15px;
      border-radius: 50px;
      border: 0;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      font-family: "Rubik", sans-serif;

   }

   button {
      margin-top: 20px;
      width: 750px;
      border-radius: 5px;
      cursor: pointer;
      font-weight: bold;
   }

   textarea {
      border-radius: 10px;
      resize: none;
   }

   button {
      background-color: #30a8f8;
      color: white;
   }

   .countries-container {
      width: 600px !important;
      box-shadow: none;

   }

   .country {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100px !important;
      height: 100px;
      padding: 10px;
      margin: 5px;
      border: 1px solid #ccc;
      cursor: pointer;
   }

   .selected {
      border: 2px solid #30a8f8;
      background-color: #f0f0f0;
   }
}

// #cty {
//    display: flex;
//    align-items: center;
//    flex-direction: column;
//    width: 140px;

//    input {
//       width: 140px;
//    }
// }
.image-input {
   text-align: center;

   input {
      display: none;
   }

   label {
      display: block;
      color: #FFF;
      background: #000;
      padding: .3rem .6rem;
      font-size: 115%;
      cursor: pointer;

      i {
         font-size: 125%;
         margin-right: .3rem;
      }

      &:hover {
         i {
            animation: shake .35s;
         }
      }
   }

   img {
      max-width: 175px;
      display: none;
   }

   span {
      display: none;
      text-align: center;
      cursor: pointer;
   }

   // animation keyframes
}

@keyframes shake {
   0% {
      transform: rotate(0deg);
   }

   25% {
      transform: rotate(10deg);
   }

   50% {
      transform: rotate(0deg);
   }

   75% {
      transform: rotate(-10deg);
   }

   100% {
      transform: rotate(0deg);
   }
}

.e_m_p {
   background-color: rgb(255, 142, 142);
   padding: 10px;
   border: 3px solid red;
   border-radius: 5px;

}

.s_m_p {
   background-color: rgb(142, 255, 157);
   padding: 10px;
   border: 3px solid green;
   border-radius: 5px;
}

#post_message {
   margin-top: 20px;
}

@media (max-width:800px) {


   .post_container {
      width: 100%;

      .countries-container {
         width: 90% !important;
      }

      div,
      button {
         flex-direction: column;
         width: 90%;
      }

      div {
         padding: 30px 5px;
      }

      input,
      textarea {
         width: 95%;
      }
   }
}