@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.error_container {
   h1 {
      font-family: 'Righteous', cursive;
      text-align: center;

      a {
         color: #30a8f8;
      }
   }
}